@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap');
@import "tailwindcss";

@theme {
    /* Fonts */
    --font-sans: 'Inter', sans-serif;
    --font-mono: 'JetBrains Mono', monospace;

    /* Backgrounds */
    --color-bg-deep: #080c12;
    --color-bg-dark: #0a0f1c;
    --color-bg-base: #0d1117;
    --color-bg-card: #111318;
    --color-bg-elevated: #1e293b;
    --color-bg-muted: #0f172a;
    --color-bg-hover: #161F2E;

    /* Borders */
    --color-border-faint: #1f2937;
    --color-border-default: #1e293b;
    --color-border-strong: #334155;

    /* Text */
    --color-text-primary: #f1f5f9;
    --color-text-secondary: #94a3b8;
    --color-text-muted: #64748b;
    --color-text-faint: #475569;
    --color-text-subtle: #334155;
    --color-text-tab: #cbd5e1;

    /* Accents */
    --color-cyan: #22d3ee;
    --color-purple: #7c3aed;
    --color-amber: #f59e0b;
    --color-green: #10b981;
    --color-close: #FF5F57;
    --color-maximize: #FEBC2E;
    --color-minimize: #28C840;

}

.btn-primary {
  @apply bg-cyan rounded-md flex items-center justify-center text-bg-dark
}

.btn-secondary {
  @apply bg-border-default border border-text-subtle rounded-md flex items-center justify-center text-text-primary
}

.tab {
  @apply flex items-center px-4 gap-2 text-text-faint font-mono text-xs h-10
}

.tab.active {
  @apply border-t border-t-cyan border-b border-b-bg-base bg-bg-base text-text-tab
}

.tab.active .lucide-code-icon {
  @apply text-cyan
}

 .tab-content {
   @apply hidden px-5 py-4 pb-5
 }

 .tab-content.active {
   @apply flex items-start gap-4
 }



body {
  background: var(--color-bg-card);
  font-family: var(--font-sans);
}